.container{
        display: flex;
        flex-direction: column; 
        align-items: center; 
        justify-content: center; 
     
        text-align: center;
     
      
      
}
.profileContainer{
    display: flex;
    width: 1000px;
    flex-direction: row;
}

.text{
    margin: 10px;
    margin-left: 150px;
    text-align: start;
}

  