.feedCategorie {
    width: 1100px;
    padding: 10px;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centra los elementos en lugar de distribuir uniformemente */
    gap: 30px; /* Ajusta la separación entre ImgMediaCard según tus necesidades */
  }
  
  .categorieCard {
    border-radius: 10px;
    width: 80px;
    margin-bottom: 16px; /* Ajusta la separación entre filas según tus necesidades */
  }