@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

*{
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.fade-enter {
  opacity: 0;
  transform: translateY(100%); /* Move elements fully off-screen from bottom */
  transition: opacity 400ms ease-in-out, transform 400ms ease-in-out; /* Adjusted timing and easing functions */
}

.fade-enter-active {
  opacity: 1;
  transform: translateY(0);
}

.fade-exit {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms ease-in, transform 400ms ease-out; /* Slightly faster exit for visual appeal */
}

.fade-exit-active {
  opacity: 0;
  transform: translateY(100%); /* Move elements fully off-screen downwards */
}
